<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://servicechatbt.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>servicechatbt.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ServiceChatBT</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ServiceChatBT</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ServiceChatBDConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:servicechats.database.windows.net,1433;Initial Catalog=ServiceChatBD;User ID=cepix1234@servicechats;Password=aWr4GnuLd_1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=servicechats.database.windows.net;Initial Catalog=ServiceChatBD;User ID=cepix1234;Password=aWr4GnuLd_1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ServiceChatBDConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=servicechats.database.windows.net;Initial Catalog=ServiceChatBD;User ID=cepix1234;Password=aWr4GnuLd_1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:servicechats.database.windows.net,1433;Initial Catalog=ServiceChatBD;User ID=cepix1234@servicechats;Password=aWr4GnuLd_1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data	Source=.\SQLEXPRESS;AttachDbFilename=MinIS.mdf;Integrated	Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data	Source=.\SQLEXPRESS;AttachDbFilename=MinIS.mdf;Integrated	Security=True;User Instance=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PovezavaPogovor" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:servicechats.database.windows.net,1433;Initial Catalog=ServiceChatBD;User ID=cepix1234@servicechats;Password=aWr4GnuLd_1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\chatdb.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PovezavaPogovor_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\chatdb.mdf;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:servicechats.database.windows.net,1433;Initial Catalog=ServiceChatBD;User ID=cepix1234@servicechats;Password=aWr4GnuLd_1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PovezavaPogovor-Web.config Connection String">
      <ParameterValue>Data Source=tcp:servicechats.database.windows.net,1433;Initial Catalog=ServiceChatBD;User ID=cepix1234@servicechats;Password=aWr4GnuLd_1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ServiceChatBDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:servicechats.database.windows.net,1433;Initial Catalog=ServiceChatBD;User ID=cepix1234@servicechats;Password=aWr4GnuLd_1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>